body {
    padding-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Aclonica', Cagliostro, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body,
p {
    font-family: 'Open Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.btn-rai {
    background-color: #083382 !important;
    color: #fff !important;
    border: 1px solid #083382 !important;
}

.page {
    min-height: 720px;
}

.company-info {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3rem 1.5rem;
    text-align: center;
}

.contact-info {
    margin-top: 3%;
    margin-bottom: 3%;
}

.navigation {
    background-color: #fff;
    color: #000;
    min-height: 75px;
    border-bottom: 1px solid #e6e1e1;
}

.navbar-collapse {
    width: 60%;
}

.nav-link {
    text-transform: uppercase;
}

.nav-item {
    margin-right: 35px;
}

.navbar-brand {
    font-family: Sacramento;
    font-size: 32px;
}

a {
    color: #000;
}

.owl-carousel {
    margin: 0px;
}

.slider-container {
    padding: 0px;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.overlay-slider {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.block1 {
    background-image: url('../img/slider/cars3.jpeg');
}

.block2 {
    background-image: url('../img/slider/cars2.jpeg');
}

.block3 {
    background-image: url('../img/slider/cars6.jpeg');
}

.block4 {
    background-image: url('../img/slider/wrench.jpeg');
}

.block5 {
    background-image: url('../img/slider/repairs.jpeg');
}

.block6 {
    background-image: url('../img/slider/cars5.jpeg');
}

.owl-slide {
    background-color: #fff;
    height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-text-wrapper {
    padding: 20% 2%;
}

.slider-title {
    font-family: 'Sacramento', 'Cagliostro', 'Times New Roman', Times, serif !important;
    font-size: 70px;
}

.slider-black {
    color: #fff;
    text-align: center;
}

.slider-black .btn:hover {
    color: #fff;
    background-color: #000;
}

.slider-black a {
    text-decoration: none;
}

.base-contact {
    padding-top: 3px;
}

.base-contact .phone {
    text-align: right;
}

main img {
    margin-top: 20px !important;
}

.feature-row {
    margin-top: 7% !important;
    margin-bottom: 4% !important;
}

.feature-row h5,
.feature-row h6 {
    text-transform: uppercase;
    margin-top: 10px;
}

.feature-row img {
    height: 280px !important;
}

.subscription-wrapper {
    color: #fff !important;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 2px solid #fff;
}

.subscription-wrapper .newsletter-heading {
    text-align: center;
    margin-bottom: 3%;
}

.subscription-wrapper input,
.subscription-wrapper button {
    height: 56px !important;
}

.footer {
    padding-top: 2%;
}

.footer p {
    text-align: center;
}

.main-contact-page {
    background: url('../img/general/contact-background.jpeg') no-repeat center;
    background-attachment: fixed;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    color: #fff;
}

.contact-container {
    padding-bottom: 8%;
    padding-top: 8%;
}

.contact-page-wrapper {
    text-align: center;
}

.welcome {
    font-size: 400%;
}

.contact-us {
    border-radius: 0px;
}

.contacts {
    margin-top: 7%;
    text-align: center;
}

.contact-form {
    margin-top: 3%;
}

.services {
    background: url('../img/general/general-car.jpeg') no-repeat fixed;
    padding: 0px;
}

.services-main {
    padding-top: 7%;
    padding-bottom: 7%;
}

.services h3 {
    color: #fff;
    text-align: center;
}

.services .heading {
    padding-top: 1%;
    padding-bottom: 7%;
}

.services-wrapper {
    border: 1px solid #7b7b7b;
    height: 500px;
    color: #fff;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
    margin-top: 20px;
}

.services-wrapper:hover {
    background-color: #d4d3d3;
    border: 1px solid #7b7b7b;
    border-radius: 10px;
    height: 500px;
    color: #000;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
    margin-top: 20px;
}

.service-title {
    margin-bottom: 4%;
}

.service-icon {
    margin-bottom: 4%;
    font-size: 600%;
}

.login-page {
    height: 680px;
    padding: 0px;
    background: url('../img/general/general-car.jpeg');
    color: #fff;
    text-align: center;
}

.login-wrapper {
    padding-top: 16%;
}

.footer-suppport {
    background-color: #302f2f;
    color: #fff;
}

.social,
.footer-suppport {
    text-align: center;
}

.social {
    margin-top: 2%;
}

.social-icon:hover {
    color: #fff;
    background-color: #7b7b7b;
}

.footer-suppport {
    padding-top: 2%;
    padding-bottom: 2%;
}

.social-icon {
    font-size: 2em;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
}

.facebook {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.twitter {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.services-strip {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.lower-strip {
    background-color: #302f2f;
    color: #fff;
}

.services-content {
    margin-top: 6%;
    margin-bottom: 6%;
}

.benefits {
    padding: 5%;
}


/* Dashboard */


/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item+.nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}


/*
   * Dashboard
   */


/* Placeholders */

.placeholders {
    padding-bottom: 3rem;
}

.top-gap {
    padding-bottom: 2rem;
    margin-top: 6%;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.card {
    min-height: 140px;
    box-shadow: 0 0 20px #333;
    padding: 50px 5px;
    margin: 5px;
    border-radius: 12px;
}

.card:hover {
    background-color: #7b7b7b;
    color: #fff;
    text-decoration: none;
}

.card a:hover {
    background-color: #7b7b7b;
    color: #fff;
    text-decoration: none;
}

.card h4 {
    text-align: center;
}

.card h5 {
    text-align: center;
}